$success:#67c23a; //成功
$error:#f56c6c;// 危险、错误
$warning: #dc6a12; //警告
$info:#909399; //成功
$themeBg: rgba(96, 164, 255, 0.5); //主题背景色
$themeWord: #1186fd;//主题字体颜色
$gray:#b4b8bc; // 灰色
$dark:#202020; // 深色
$words:#373737; // 大部分文字、深色文字
$lightWords:#999; // 少部分文字、浅色文字


@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }