@font-face {
  font-family: "iconfont"; /* Project id 2671680 */
  src: url('iconfont.woff2?t=1626169576831') format('woff2'),
       url('iconfont.woff?t=1626169576831') format('woff'),
       url('iconfont.ttf?t=1626169576831') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e62f";
}

.icon-success:before {
  content: "\e621";
}

.icon-error:before {
  content: "\e614";
}

.icon-info:before {
  content: "\e65f";
}

.icon-primary:before {
  content: "\e6ab";
}

